body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 40px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

main {
    text-align: center;
    padding: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}


.bio {
    width: 80%; 
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.bio p {
    font-size: 1em;
    line-height: 1.6;
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    width: 80%; 
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
}


.project-card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; 
    height: auto; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; 
    position: relative;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    flex-shrink: 0; 
}

.project-card p {
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
    height: 60px; 
    text-overflow: ellipsis;
    position: relative;
}

.project-card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    align-self: flex-start; 
    flex-shrink: 0; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal input,
.modal textarea {
    display: block;
    width: calc(100% - 20px); 
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
}


.modal button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0056b3;
}

.add-Project {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
    margin-bottom: 20px;
}

.add-Project:hover {
    background-color: #555; 
}
